---
import { ContentSection } from "@modules/ContentSection";
import Layout from "../layouts/Layout.astro";
import { FadeIn } from "@utils/animations/FadeIn";
import { Button } from "@components/Button";
---

<Layout
    title="404 | Page not found"
    description="The page you are looking for might have been removed, had its name changed, or is temporarily unavailable."
>
    <main class="page-content page-404">
        <ContentSection
            style={{
                maxWidth: "600px",
                margin: "0 auto",
                textAlign: "center",
                display: "flex",
                flexDirection: "column",
                justifyContent: "center",
                alignItems: "center",
                height: "100%",
            }}
        >
            <FadeIn client:visible>
                <h1>Wooops - Soory! 404</h1>
                <p>
                    The page you are looking for might have been removed, had
                    its name changed, or is temporarily unavailable.
                </p>

                <Button
                    variant="secondary"
                    showIcon={false}
                    link="/"
                    align="center"
                >
                    Go back
                </Button>
            </FadeIn>
        </ContentSection>
    </main>
</Layout>
