---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="Cybernetic | Homepage"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Cybernetic",
                    title: "Cybernetic",
                    background: HeroSlider1.src,
                    paragraph:
                        "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    button: {
                        text: "Get pro version",
                        link: "https://codexcode.store/themes/cybernetic-website-template",
                    },
                },
                {
                    subtitle: "Be Safe, Be Secure, Be Cybernetic",
                    title: "infinite",
                    background: HeroSlider3.src,
                    paragraph: "",
                    button: {
                        text: "Take a look",
                        link: "/infinite",
                    },
                },
            ]}
        />
    </main>
</Layout>
