---
import { NormalizeCSS } from "../styles/normalize";
import { Global } from "@emotion/react";
import { PreviewPng } from "@static/images";
import { Header } from "@modules/Header";
import MetaConfig from "./MetaConfig.astro";

// tailwind-output uncomment if you need to use tailwind
// import TailwindOutput from "../styles/tailwind/tailwind.output.css";

interface Props {
    title: string;
    description: string;
    overwritePreview?: string;
}

const { title, description, overwritePreview } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <MetaConfig
            title={title}
            description={description}
            preview={overwritePreview ? overwritePreview : PreviewPng.src}
        />
        <title>{title}</title>
        <Global styles={NormalizeCSS} />

        <!-- tailwind-output - delete line above & uncomment this one if you need to use tailwind-->
        <!-- <Global styles={{ NormalizeCSS, TailwindOutput }} /> -->
        <script>
            /**
             * Add class to transition "overflow element" on page load to make it prettier
             */
            document.addEventListener("DOMContentLoaded", () => {
                document.body.classList.add("hide-overflow");
            });
        </script>
    </head>
    <body>
        <Header client:load />
        <slot />
    </body>
</html>
